@use "../../../../../master";
.brand {
  position: relative;
  padding: 40px 0;
  padding-bottom: 170px;
  .deco {
    position: absolute;
    left: -210px;
    width: 400px;
    bottom: -10px;
  }
  img {
    width: 100%;
  }
  @media screen and (max-width: 763px) {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
