a:hover{
    color: #00D000;
}
/* STYLE scrollbar */

/*::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F3F6FB;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #00D000;
}

::-webkit-scrollbar-thumb:hover {
    background: #00D000;
}*/
/* STYLE scrollbar end */
.hd-black h2 {
    color: #000;
}
.hd-black p {
    color: #6D6D6D;
}
.slide-vpn:hover,
.slide-vpn:focus {
    box-shadow: inset 13em 0 0 0 #00D000;
    border-color: #00D000;
    color: #fff;
}
.default-vpn-padd {
    padding: 100px 0;
}
.navbar-nav li a:hover {
    color: #00D000 !important;
}
.nav-btn-vpn a {
    border: 2px solid #00D000;
    padding: 8px 25px;
    border-radius: 50px;
}
.active-page-vpn a {
    color: #00D000;
}
.product-sec {
    background-color: #1F1F1F;
    margin-top: 88.8px;
    padding: 15px 0 10px 0;
}
.product-wraper ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.product-wraper ul li a {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.product-wraper ul li a img {
    display: block;
    margin: 0 auto;
    padding-bottom: 7px;
}
.product-wraper ul li:nth-child(2) a:hover {
    color: #D58400;
}
.product-wraper ul li:nth-child(2) a:hover img {
    filter: invert(50%) sepia(98%) saturate(547%) hue-rotate(3deg) brightness(89%) contrast(102%);
}

.vpn-sec .active-page img {
    filter: invert(46%) sepia(82%) saturate(1498%) hue-rotate(84deg) brightness(102%) contrast(120%);
}
.vpn-sec .active-page a {
    color: #00D000;
}
.vpn-page ul li img:last-child {
    display: none;
}
.vpn-page ul li:nth-of-type(1) a img:first-child {
    display: none;
}
.vpn-page ul li:nth-of-type(1) a:hover img:first-child {
    display: block;
}
.vpn-page ul li:nth-of-type(1) a:hover img:last-child {
    display: none;
}
.vpn-page ul li:nth-of-type(1) a:hover {
    color: #9E1EE3;
}
.vpn-page ul li:nth-of-type(1) a img:last-child {
    display: block;
    position: relative;
}
.vpn-page ul li:nth-of-type(3) a:hover img:first-child {
    display: none;
}
.vpn-page ul li:nth-of-type(3) a:hover {
    color: #FED236;
}
.vpn-page ul li:nth-of-type(3) a:hover img:last-child {
    display: block;
    position: relative;
}
.vpn-page ul li:nth-of-type(4) a:hover img:first-child {
    display: none;
}
.vpn-page ul li:nth-of-type(4) a:hover {
    color: #00AB00;
}
.vpn-page ul li:nth-of-type(4) a:hover img:last-child {
    display: block;
    position: relative;
}
.vpn-page ul li:nth-of-type(5) a:hover img:first-child {
    display: none;
}
.vpn-page ul li:nth-of-type(5) a:hover {
    color: #E28B00;
}
.vpn-page ul li:nth-of-type(5) a:hover img:last-child {
    display: block;
    position: relative;
}
.vpn-page ul li:nth-of-type(6) a img:first-child {
    display: none;
}
.vpn-page ul li:nth-of-type(6) a:hover {
    color: #00D000;
}
.vpn-page ul li:nth-of-type(6) a img:last-child {
    display: block;
    position: relative;
}
.vpn-page ul li:nth-of-type(7) a:hover img:first-child {
    display: none;
}
.vpn-page ul li:nth-of-type(7) a:hover {
    color: #0271E3;
}
.vpn-page ul li:nth-of-type(7) a:hover img:last-child {
    display: block;
    position: relative;
}
.vpn-page ul li:nth-of-type(8) a:hover img:first-child {
    display: none;
}
.vpn-page ul li:nth-of-type(8) a:hover {
    color: #F57D2B;
}
.vpn-page ul li:nth-of-type(8) a:hover img:last-child {
    display: block;
    position: relative;
}
.vpn-banner-wrap.banner-sec {
    background-image: url("../images/vpn/banner-bg.jpg");
    background-repeat: no-repeat;
    background-color: #fff;
    margin-top: 0;
    background-size: cover;
}

.vpn-banner-wrap .banner-wraper {
    height: calc(100vh - 160.7px);
    flex-direction: column;
    justify-content: flex-end;
}
.vpn-banner-wrap .banner-content-wrap {
    top: -30px;
    position: relative;
}
.banner-content-wrap h1 {
    color: #000;
}
.vpn-banner-wrap .banner-content-wrap .btn_1 {
    background-color: #00D000;
    border-color: #00D000;
    padding: 12px 35px;
    border-radius: 50px;
    font-weight: 700;
    transition: 0.25s;
    color: #fff;
}
.vpn-banner-wrap .banner-content-wrap .btn_1:hover {
    box-shadow: inset 13em 0 0 0 #007fff;
    border-color: #007fff;
}
.vpn-banner-wrap .banner-content-wrap p {
    color: #000;
}
.vpn-hd-wrap .hd-wraper h2 span {
    background-color: #00D000;
    height: 35px;
    width: 10px;
    display: inline-block;
}
.server-info h3 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 0;
}
.server-info p {
    font-size: 26px;
}
.server-info {
    padding-right: 8px;
}
.world-wide-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.server-info {
    padding-right: 40px;
    max-width: 165px;
    width: 100%;
}
.install-sec {
    background-color: #DCDCDC;
}
.install-fea-wrap ul li {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 13px 40px;
}
.install-fea-wrap ul li:before {
    content: '';
    background-image: url("../images/vpn/check-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 5px;
    width: 26px;
    height: 26px;
}
.install-fea-wrap {
    padding-left: 100px;
}
.install-img-wrap {
    display: flex;
    justify-content: space-between;
}
.secure-content-wrap h4 {
    font-size: 27px;
    font-weight: 700;
    color: #00D000;
    padding-top: 25px;
    padding-bottom: 15px;
}
.secure-content-wrap p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.secure-safe-sec .col-lg-3:nth-of-type(odd) {
    margin-top: 190px;
}
.line-img {
    position: absolute;
    right: -50px;
    top: 40px;
}
.secure-safe-sec .col-lg-3:nth-of-type(3) .line-img {
    transform: scaleY(-1);
    right: -170px;
    top: 150px;
}
.secure-content-wrap {
    position: relative;
}
.secure-safe-sec {
    position: relative;
}
.secure-shape img {
    position: absolute;
    right: 0;
}
.join-sec {
    background-color: #DCDCDC;
}
.join-content-wrap h5 {
    color: #6D6D6D;
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
}
.join-content-wrap {
    position: relative;
}
.join-content-wrap:after {
    content: '';
    position: absolute;
    width: 55%;
    right: -125px;
    height: 2px;
    background-color: #00D000;
    top: 90px;
}
.join-sec .col-md-4:nth-of-type(4) .join-content-wrap:after {
    display: none;
}
.invest-sec {
    position: relative;
}
.invest-shape img {
    position: absolute;
    right: 0;
    z-index: 9;
    height: 85%;
    bottom: -180px;
}
.invest-box-inner {
    border: 2px solid #00d000;
    padding: 40px 40px;
    border-radius: 30px;
    max-width: 460px;
    height: 285px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.invest-box-inner h4 {
    font-size: 28px;
    font-weight: 700;
}
.invest-box-inner p {
    font-size: 19px;
    font-weight: 500;
}
.invest-box-wrap {
    display: flex;
}
.invest-box-inner:first-child {
    margin-right: 50px;
}
.btn-wraper {
    margin-top: 25px;
}
.btn-wraper .btn_1 {
    background-color: #00D000;
    border-color: #00D000;
}
.btn-wraper .btn_1:hover {
    box-shadow: inset 13em 0 0 0 #00D000;
    border-color: #00D000;
}
.invest-sec {
    border-bottom: 2px solid #00D000;
    position: relative;
}
.invest-sec:before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #00D000;
    bottom: -11px;
    right: 49px;
}
@media all and (max-width: 1440px){
    .install-fea-wrap {
        padding-left: 70px;
    }
    .secure-shape img {
        width: 20%;
    }
    .join-content-wrap:after {
        right: -110px;
    }
    .vpn-banner-wrap .banner-content-wrap {
        top: 0;
        margin-bottom: 10px;
    }
    .vpn-banner-wrap .banner-wraper {
        height: 100%;
    }
}
@media all and (max-width: 1199px){
    .vpn-banner-wrap .banner-wraper {
        height: 100%;
    }
    .vpn-banner-wrap .banner-content-wrap {
        top: 0;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .install-img-wrap img {
        width: 48%;
    }
    .install-fea-wrap {
        padding-left: 30px;
    }
    .line-img {
        right: -70px;
    }
    .secure-safe-sec .col-lg-3:nth-of-type(3) .line-img {
        right: -200px;
    }
    .join-content-wrap:after {
        width: 50%;
        right: -86px;
    }
    .secure-shape img {
        width: 20%;
    }
}
@media all and (max-width: 992px){

    .server-sec .col-lg-8, .install-sec .col-lg-7{
        order: 2;
    }
    .install-fea-wrap {
        padding-left: 0;
        padding-bottom: 50px;
    }
    .secure-shape, .line-img, .invest-shape {
        display: none;
    }
    .secure-safe-sec .col-lg-3:nth-of-type(odd) {
        margin-top: 270px;
    }
    .join-content-wrap:after {
        width: 32%;
        right: -48px;
    }
    .join-content-wrap h5 {
        font-size: 16px;
    }
}
@media all and (max-width: 767px){

    .install-img-wrap {
        justify-content: flex-start;
    }

    .install-img-wrap img {
        width: 47%;
        padding-right: 15px;
    }
    .line-img {
        display: none;
    }
    .secure-safe-sec .col-lg-3:nth-of-type(odd) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .join-content-wrap:after {
        display: none;
    }
    .join-content-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    .invest-box-wrap {
        flex-direction: column;
    }
    .invest-box-inner:first-child {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .invest-shape, .secure-shape {
        display: none;
    }
    .btn-wraper {
        text-align: center;
    }
    .invest-sec:before {
        display: none;
    }
}
