@use "../../../master";
.footer {
  background-image: url(../../../assets/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  padding: 50px 20px;
  padding-bottom: 30px;
  text-align: center;
  .logo-box {
    margin: 30px 0;
    img {
      width: 100px;
    }
    h2 {
      margin-top: 10px;
      font-size: 24px;
      @media screen and (max-width: 763px) {
        font-size: 20px;
      }
    }
  }
  .address-box {
    margin: 30px 0;
    svg {
      color: master.$seconday-color;
    }
    h4 {
      font-size: 18px;
      font-weight: 700;
      margin: 5px 0;
      @media screen and (max-width: 763px) {
        font-size: 16px;
      }
    }
    p {
      font-size: 17px;
      margin: 5px 0;
      opacity: 0.85;
      @media screen and (max-width: 763px) {
        font-size: 14px;
      }
    }
  }
  .footer-bottom {
    margin-top: 20px;
    text-align: left;
    .copyright{
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      @media screen and (max-width: 763px) {
        font-size: 16px;
      }
    }
    span {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      width: 140px;
      img {
        width: 95%;
      }
    }
    .social {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 9px;
        list-style: none;
      }
      @media screen and (max-width: 991px) {
        margin: 30px 0;
        height: auto;
      }
    }
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
}
